body {
    margin: 0;
}

img {
    max-width: 100px;
}

h1 {
    color: purple;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    grid-template-areas:
        'header header header'
        'left-column middle-column right-column'
        'footer footer footer';
}

.grid-container>* {
    padding: 1rem;
}

.grid-container>.header {
    grid-area: header;
    background: wheat;
}

.grid-container>.left-column {
    grid-area: left-column;
    background: #A1EEBD;
}

.grid-container>.middle-column {
    grid-area: middle-column;
    background: bisque;
}

.grid-container>.right-column {
    grid-area: right-column;
    background: #A1EEBD;
}

.grid-container>.footer {
    grid-area: footer;
    background: red;
}

.header,
h2 {
    text-align: center;
}

.dessert-card {
    display: flex;
    flex-direction: row;
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.dessert-card:hover {
    transform: translateX(-5px);
}

.dessert-card>.dessert-description {
    flex-direction: column;
    padding: 0 10px 0 10px;
}

.dessert-description>h3 {
    color: red;
    font-weight: bold;
    margin-bottom: 5px;

}

.dessert-description>p {
    margin-top: 5px;
}

#cookie-container>.dessert-card {
    border: dashed 2px #7BD3EA;
}

#icecream-container>.dessert-card {
    border: dashed 2px pink;
}